# eclipse
eclipse/
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
.idea/
out
*.ipr
*.iws
*.iml

# vscode
.vscode/

# visual studio
.vs/

# gradle
build/
.gradle/
.kotlin/

# other
run
runs

# AI Tools
/.ai/
.agents/
.claude/
.clinerules/
.codebuddy/
.codex/
.cursorrules/
.devin/
.kilo/
.kilocode/
.lingma/
.marscode/
.mimocode/
.opencode/
.qoder/
.trae/
.windsurf/
.zcode/

AGENTS-*.md


# logs
**/logs/*.log
**/logs/*.log.gz

# JFR
.profileconfig.json
*.jfr
